{% extends 'index.html' %}

{% block form_content %}

<form method="POST" action='{{ request.path }}' novalidate >
    
  <div class="card" id="vue">
    <template>
      <div class="card-header">
        
      </div>
      <div class="card-body">
        <div class="form-group row">

          <div class="pt-2 row">
            <label for="id" class="col-sm-2 col-form-label">ИД</label>
            <div class="col-sm-10">
                <input type="text" name="id" class="form-control" id="id" placeholder="ИД" :value="approval_template.id" readonly >
            </div>
            <label for="id" class="col-sm-2 col-form-label mt-2">Наименование</label>
            <div class="col-sm-10 mt-2">
                <input type="text" name="name" class="form-control" id="name" placeholder="ИД" :value="approval_template.name">
            </div>

            <label for="id" class="col-sm-2 col-form-label mt-2">Организация</label>
            <div class="col-sm-10 mt-2">
                <input type="text" name="name" class="form-control" id="name" placeholder="ИД" :value="approval_template.entity.name">
            </div>

            <label for="id" class="col-sm-2 col-form-label mt-2">ИИН</label>
            <div class="col-sm-10 mt-2">
                <input type="text" name="name" class="form-control" id="name" placeholder="ИД" :value="approval_template.entity.iin">
            </div>

            <label for="id" class="col-sm-2 col-form-label mt-2">Шаблон документа</label>
            <div class="col-sm-10 mt-2">
                <input type="text" name="name" class="form-control" id="name" placeholder="ИД" :value="approval_template.document_type.description">
            </div>

          </div>
          <div>
            <button  type="button" class="btn btn-secondary" v-on:click="AddNewRow"> Добавить </button>
          </div>
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Уровень</th>
                <th scope="col">Тип</th>
                <th scope="col">Организация</th>
                <th scope="col">Сотрудник</th>
                <th scope="col">Шаблона отчета</th>
              </tr>
            </thead>
            <tbody  v-for="step in approval_template.steps" :key="step.id">
              <tr>
                <td>[[ step.id ]]</td>
                <td>[[ step.level ]]</td>
                <td>[[ step.type]]</td> 
                <td>[[ step.entity_iin ]]</td>
                <td>[[ step.employee.name ]] ([[ step.employee.email ]])</td>
                <td>[[ approval_template.document_type.description ]]</td>
              </tr>
            </tbody>
          </table>
          
        <div class="pt-3 row">
          <div class="col">  
            <button class="btn btn-primary btn-block">Сохранить</button> 
            <button type="button" class="btn btn-primary btn-danger" data-bs-toggle="modal" data-bs-target="#deleteEmployeeModal">
              Удалить
            </button>
          </div> 
        </div>

        <!-- Modal -->
        <div class="modal fade" id="deleteEmployeeModal" tabindex="-1" aria-labelledby="deleteEmployeeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="deleteEmployeeModalLabel">Подтвердите действие</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Вы действительно хотите удалить запись?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                <a href="{{ request.path }}/delete" class="btn btn-primary btn-danger" role="button">Удалить</a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </template>
  </div>


</form>

<script>
  new Vue({
      delimiters: ['[[', ']]'],
      el: '#vue',
      data: {
        approval_template: {},
        approval_template_id: "{{itemId}}",
      },
      async mounted() {
        console.log(Vue.version);
        try{
          let response = await axios.get("http://127.0.0.1:8000/v1/api/approval_template/{{itemId}}?nested=true")
          console.log(response.data)
          this.approval_template = response.data
        }catch(err){
          console.log(err)
        }
      },
      methods: {
        AddNewRow: function(){
          this.approval_template.steps.push({
            "id": 0,
            "level": 0,
            "type": "Линейное",
            "entity_iin": "",
            "entity": {
              "id": 0,
              "name": "",
              "iin": ""
            },
            "employee_id": 0,
            "employee": {
              "id": 0,
              "name": "",
              "email": ""
              }
            })  
          },
      }
    })
</script>

{% endblock %}