{% extends 'index.html' %}
{% block form_content %}

<form method="POST" action='{{ request.path }}' novalidate>
  <div id="vue">
    <template>
      <div class="row">
        <div class="col-12">
          <div class="card mt-2">
            <div class="card-header">
              [[approval_template.name]]
            </div>
            <div class="card-body table-responsive p-0">
              <div class="col-12 mt-2">
                <button v-on:click="goToAproovalTemplateList()" class="btn btn-primary " type="button"
                  data-toggle="tooltip" data-placement="top">
                  Перейти к списку шаблона
                </button>

                <div class="form-group row">

                  <label for="id" class="col-sm-2 col-form-label">ИД</label>
                  <div class="col-sm-10">
                    <input type="text" name="id" class="form-control" id="id" placeholder="ИД"
                      v-model="approval_template.id" readonly>
                  </div>
                  <label for="id" class="col-sm-2 col-form-label mt-2">Наименование</label>
                  <div class="col-sm-10 mt-2">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Наименование"
                      v-model="approval_template.name">
                  </div>

                  <label for="id" class="col-sm-2 col-form-label mt-2">Организация</label>
                  <div class="col-sm-10 mt-2">
                    <select v-on:click="getEntityList()" v-model="approval_template.entity_iin" class="form-control">
                      <option value="0">---------</option>
                      <option v-for="item in entityList" v-bind:value="item.iin">
                        [[ item.name ]] ([[ item.iin ]])
                      </option>
                    </select>
                  </div>

                  <label for="id" class="col-sm-2 col-form-label mt-2">Шаблон документа</label>
                  <div class="col-sm-10 mt-2">
                    <select v-on:click="getEnumDocumentTypeList()" v-model="approval_template.enum_document_type_id"
                      class="form-control" aria-label="Шаблон документа" id="enum_document_type">
                      <option value="0">---------</option>
                      <option v-for="item in documentType" v-bind:value="item.id">
                        [[ item.description ]]
                      </option>
                    </select>
                  </div>

                  <div class="mt-2 mb-2 ml-2">
                    <button v-on:click="clearActiveStep()" type="button" type="button" class="btn btn-success"
                      data-target="#newElementModal" data-toggle="modal">
                      Добавить
                    </button>
                  </div>
                  <div class="col-12">
                    <table class="table table-bordered table-hover">
                      <thead class="table-dark">
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">ID</th>
                          <th scope="col">Уровень</th>
                          <th scope="col">Тип</th>
                          <th scope="col">Пользователь</th>
                          <th scope="col">Операции</th>
                        </tr>
                      </thead>
                      <tbody v-for="(step, index) in approval_template.steps" :key="index">
                        <tr>
                          <td>[[ index+1 ]]</td>
                          <td>[[ step.id ]]</td>
                          <td>[[ step.level ]]</td>
                          <td>[[ step.type]]</td>
                          <td>[[ step.user.name ]] ([[ step.user.email ]])</td>
                          <td>
                            <button v-on:click="loadStep(step, index)" data-toggle="modal"
                              data-target="#newElementModal" class="btn btn-success btn-sm rounded-3" type="button"
                              data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit">
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                <path
                                  d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                              </svg>
                            </button>
                            <button v-on:click="deleteStep(step, index)" class="btn btn-danger btn-sm rounded-3"
                              type="button" data-toggle="tooltip" data-placement="top" title=""
                              data-original-title="Delete">
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-trash-fill" viewBox="0 0 16 16">
                                <path
                                  d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                              </svg>
                            </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="mt-2 mb-2">
                    <div class="col">
                      <button type="button" class="btn btn-primary " v-on:click="sendData()">
                        Сохранить
                      </button>
                      <button type="button" class="btn btn-primary btn-danger" data-toggle="modal"
                        data-target="#deleteElementModal">
                        Удалить
                      </button>
                    </div>
                  </div>

                  <!-- Новый элемент -->
                  <div class="modal fade" id="newElementModal" tabindex="-1" aria-labelledby="newElementModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="newElementModalLabel">Строка записи</h5>
                          <button type="button" data-dismiss="modal" aria-label="Отмена" class="close"><span
                              aria-hidden="true">×</span></button>
                        </div>
                        <div class="modal-body">
                          <div class="pt-2 row">

                            <label for="step_position" class="col-sm-2 col-form-label">Номер записи</label>
                            <div class="col-sm-10 mt-2">
                              <input type="number" class="form-control" id="step_position" placeholder="Уровень"
                                v-model.number="step_position" readonly>
                            </div>

                            <label for="step_level" class="col-sm-2 col-form-label">Уровень</label>
                            <div class="col-sm-10 mt-2">
                              <input type="number" class="form-control" id="step_level" placeholder="Уровень"
                                v-model.number="step_level" min="1" max="100">
                            </div>

                            <label for="step_level" class="col-sm-2 col-form-label">Тип согласования</label>
                            <div class="col-sm-10 mt-2">
                              <select class="form-control" aria-label="Тип согласования" id="EnumStepType"
                                v-model="EnumStepType">
                                <option selected>-------------------</option>
                                <option value="линейное">линейное</option>
                                <option value="параллельное">параллельное</option>
                              </select>
                            </div>

                            <label for="step_user_id" class="col-sm-2 col-form-label">Пользователь</label>
                            <div class="col-sm-10 mt-2">
                              <select v-on:click="getUserList()" v-model="step_user" class="form-control"
                                aria-label="Пользователь" id="step_user">
                                <option value="0">---------</option>
                                <option v-for="item in userList"
                                  v-bind:value="{ id: item.id, name: item.name, email: item.email }">
                                  [[ item.name ]]
                                </option>
                              </select>
                            </div>

                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                          <button type="button" class="btn btn-primary " role="button" v-on:click="updateStep()"
                            data-dismiss="modal">
                            Сохранить
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Сохранение записи -->
                  <div class="modal fade" id="deleteElementModal" tabindex="-1"
                    aria-labelledby="deleteElementModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="deleteElementModalLabel">Подтвердите действие</h5>
                          <button type="button" data-dismiss="modal" aria-label="Отмена" class="close"><span
                              aria-hidden="true">×</span></button>
                        </div>
                        <div class="modal-body">
                          Вы действительно хотите удалить запись?
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                          <button type="button" class="btn btn-primary btn-danger" data-dismiss="modal"
                            v-on:click="deleteAproovalTemplate()">
                            Удалить
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </template>
  </div>
</form>

<script>
  new Vue({
    delimiters: ['[[', ']]'],
    el: '#vue',
    data: {
      approval_template: {
        "id": 0,
        "enum_document_type_id": 0,
        "name": "",
        "entity_iin": "",
        "entity_id": 0,
        "entity_name": "",
        "enum_document_type_name": "",
        "enum_document_type_description": "",
        "entity": {
          "id": 0,
          "iin": "",
          "name": ""
        },
        "enum_document_type": {
          "id": 0,
          "name": "",
          "description": ""
        },
        "steps": []
      },
      approval_template_id: "{{itemId}}",
      userList: [],
      entityList: [],
      documentType: [],
      step_user: '',
      EnumStepType: '',
      step_level: 0,
      step_index: -1,
      step_position: 0,
    },
    async mounted() {
      is_authorized()
      if (this.approval_template_id != 'new') {
        await this.getAproovalTemplate()

      }
      await this.getUserList()
      await this.getEntityList()
      await this.getEnumDocumentTypeList()

    },
    methods: {
      getAproovalTemplate: async function () {
        console.log(Vue.version);
        try {
          let response = await axios.get("{{url_for('get_approval_template_list')}}" + this.approval_template_id + "?nested=true", get_config());
          console.log(response.data)
          this.approval_template = response.data
          return response
        } catch (err) {
          console.log(err); 
          check_status(err)
          return null
        }
      },
      collectData: function () {
        approval_template_steps = []
        approval_template_dict = {}
        this.approval_template.steps.forEach((element) => {
          stepDict = {
            'id': parseInt(element.id),
            'level': element.level,
            'type': element.type,
            'user_id': element.user_id,
            'hash': ''
          }
          approval_template_steps.push(stepDict)
        })
        approval_template_dict = {
          "id": this.approval_template_id,
          "enum_document_type_id": this.approval_template.enum_document_type_id,
          "name": this.approval_template.name,
          "entity_iin": this.approval_template.entity_iin,
          "steps": approval_template_steps
        }
        console.log(this.enum_document_type_id);
        return approval_template_dict
      },
      postAproovalTemplate: async function () {
        approval_template_dict = this.collectData()
        console.log(Vue.version);
        try {
          let response = await axios.post("{{url_for('get_approval_template_list')}}", approval_template_dict, get_config());
          console.log(response.data)
          this.approval_template = response.data
          this.approval_template_id = this.approval_template['id']
          return response
        } catch (err) {
          console.log(err); 
          check_status(err)
          return null
        }
      },

      putAproovalTemplate: async function () {
        approval_template_dict = this.collectData()
        console.log("before send")
        console.log(approval_template_dict);
        try {
          let response = await axios.put("{{url_for('get_approval_template_list')}}" + this.approval_template_id, approval_template_dict, get_config());
          console.log(response.data)
          return response
        } catch (err) {
          console.log(err); 
          check_status(err)
        }
      },
      deleteAproovalTemplate: async function () {
        try {
          let response = await axios.delete("{{url_for('get_approval_template_list')}}" + this.approval_template_id, get_config());
          if (response != null && (response.status == 200 || response.status == 201)) {
            this.goToAproovalTemplateList()
          }
        } catch (err) {
          console.log(err); 
          check_status(err)
        }
      },
      goToAproovalTemplateList: function () {
        window.location.href = "{{url_for('approval_template_list')}}"
      },
      clearActiveStep: function () {
        this.step_user = '',
          this.EnumStepType = '',
          this.step_level = 1,
          this.step_index = -1
        this.step_position = this.approval_template.steps.length + 1
      },
      addNewStep: function () {
        this.approval_template.steps.push({
          "id": 0,
          "level": this.step_level,
          "type": this.EnumStepType,
          "user_id": this.step_user.id,
          "user": {
            "id": this.step_user.id,
            "name": this.step_user.name,
            "email": this.step_user.email
          }
        })
      },
      loadStep: function (step, index) {
        this.step_level = step.level;
        this.EnumStepType = step.type;
        this.step_user.name = step.user.name;
        this.step_user.id = step.user_id;
        this.step_user.email = step.user.email;
        this.step_user = step.user
        this.step_index = index;
        this.step_position = index + 1;
      },
      updateStep: function () {
        if (this.step_index == -1) {
          this.addNewStep();
          return
        }
        step = this.approval_template.steps[this.step_index]
        step.level = this.step_level;
        step.type = this.EnumStepType;
        step.user_id = this.step_user.id;
        step.user.name = this.step_user.name;
        step.user.id = this.step_user.id;
        step.user.email = this.step_user.email;
      },
      deleteStep: function (step, index) {
        this.approval_template.steps.pop(index);
      },
      getEnumDocumentTypeList: async function () {
        if (this.documentType.length > 0) {
          return
        }
        try {
          let response = await axios.get("{{url_for('get_enum_document_type_list')}}?skip=0&limit=100&", get_config())
          console.log("getEnumDocumentTypeList")
          console.log(response.data)
          this.documentType = response.data['result']
          his.documentType.sort()
        } catch (err) {
          console.log(err); 
          check_status(err)
        }
      },
      getUserList: async function () {
        if (this.userList.length > 0) {
          return
        }
        try {
          let response = await axios.get("{{url_for('get_user_list')}}?skip=0&limit=100&", get_config())
          console.log(response.data)
          this.userList = response.data['result']
        } catch (err) {
          console.log(err); 
          check_status(err)
        }
      },
      getEntityList: async function () {
        if (this.entityList.length > 0) {
          return
        }
        try {
          let response = await axios.get("{{url_for('get_entity_list')}}?skip=0&limit=100&nested=false&optional=false", get_config())
          console.log(response.data)
          this.entityList = response.data['result']
        } catch (err) {
          console.log(err); 
          check_status(err)
        }
      },
      sendData: async function () {
        if (this.approval_template_id == 'new') {
          let response = await this.postAproovalTemplate()
          if (response != null && (response.status == 200 || response.status == 201)) {
            await this.getAproovalTemplate()
          }
        } else {
          let response = await this.putAproovalTemplate()
          if (response != null && (response.status == 200 || response.status == 201)) {
            await this.getAproovalTemplate()
            $("#success-alert").fadeTo(2000, 500).slideUp(500, function () {
              $("#success-alert").slideUp(500);
            });
          }
        }

      }
    }
  })
</script>

{% endblock %}