{% extends 'index.html' %}

{% block form_content %}

<form method="POST" action='{{ request.path }}' novalidate >
    
    <div class="card">
    <div class="card-header">
      Список сотрудников
    </div>
    <div class="card-body">
      <a class="btn btn-primary" href="{{ request.path }}new" role="button">Создать новый элемент</a>
      <div class="pt-2 col">
        <table class="table table-hover">
          <thead class="thead-light">
            <tr>
              <th scope="col">ИД</th>
              <th scope="col">ИИН</th>
              <th scope="col">Наименование</th>
              <th scope="col">Тип организации</th>
              <th scope="col">Комментарий</th>
              <th scope="col">Контакты</th>
            </tr>
          </thead>
          <tbody>
            {% for counterparty in counterpartyList %}
              <tr>
                <th scope="row">{{ counterparty.id }}</th>
                <td>{{ counterparty.iin }}</td>
                <td><a href="{{request.path}}{{counterparty.iin}}" class="link-dark">{{ counterparty.name }} </a></td>
                <td>{{ counterparty.type.full_name }}</td>
                <td>{{ counterparty.comment }}</td>
                <td>{{ counterparty.contact }}</td>
              </tr>  
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>  
  </div>
</form>

{% endblock %}