{% extends 'index.html' %}
{% block form_content %}

<form method="POST" action='#' novalidate>
  <div id="vue">
    <div class="row">
      <div class="col-12">
        <div class="card mt-2">
          <div class="card-header">
              <h3 class="card-title">Список служебных записок на исполнение</h3>
              
            <div class="card-tools">
              <ul class="pagination pagination-sm float-right">
                <template v-if="page > 3">
                  <li class="page-item"><button type="button" class="page-link"
                      v-on:click="getEmployeeTaskList(1)">1</button></li>
                </template>

                <template v-if="page-3 > 1">
                  <li class="page-item"><button type="button" class="page-link "
                      v-on:click="getEmployeeTaskList(page-3)"><i class="fas fa-angle-double-left"></i></button>
                  </li>
                </template>

                <template v-if="page > 1">
                  <li class="page-item"><button type="button" class="page-link"
                      v-on:click="getEmployeeTaskList(page-1)">[[page-1]]</button></li>
                </template>

                <li class="page-item active"><button type="button" class="page-link">[[page]]</button></li>

                <template v-if="page < page_count">
                  <li class="page-item"><button type="button" class="page-link"
                      v-on:click="getEmployeeTaskList(page+1)">[[page+1]]</button></li>
                </template>

                <template v-if="page+3 < page_count">
                  <li class="page-item"><button type="button" class="page-link"
                      v-on:click="getEmployeeTaskList(page+3)"><i class="fas fa-angle-double-right"></i></button>
                  </li>
                </template>

                <template v-if="page < page_count-2">
                  <li class="page-item"><button type="button" class="page-link"
                      v-on:click="getEmployeeTaskList(page_count)">[[page_count]]</button></li>
                </template>

              </ul>
            </div>
          </div>
          <div class="card-body table-responsive p-0">
              <a class="btn btn-primary m-2" href="{{ request.path }}new" role="button">Создать новый элемент</a>
              <button class="btn btn-primary " type="button" @click="getEmployeeTaskList(0)">
                Обновить данные
              </button>
              <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false" >
                Согласование
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button class="dropdown-item" type="button" @click="startApprovalProcess()" >Отправить на
                  согласование</button>
                <button class="dropdown-item" type="button" @click="cancelApprovalProcess()">Отменить согласование</button>
              </div>
            <div class="col-12">
              <table class="table table-bordered table-hover">
                <thead class="table-dark">
                  <tr>
                    <th width="5%">#</th>
                    <th width="8%">Номер</th>
                    <th width="7%">Дата</th>
                    <th width="15%">Организация</th>
                    <th width="5%">Статус документа</th>
                    <th width="10%">Комментарий</th>
                    <th width="5%">Автор</th>
                    <th width="10%">Операции</th>
                  </tr>
                </thead>
                <tbody v-for="item in employeeTaskList" :key="item.id">
                  <tr v-on:click="setActive(item)" v-bind:class="selectedRow(item)" style="cursor: pointer">
                    <td>[[ item.id ]]</td>
                    <td>[[ item.number ]]</td>
                    <td>[[ item.date | liveSubstr ]]</td>
                    <td>[[ item.entity.name]] ([[ item.entity.iin]])</td>
                    <td>
                      <template v-if="item.status === 'в работе'">
                        <i class='fas fa-circle' style='color:#faab00'>&nbsp;</i>
                      </template>
                      <template v-else-if="item.status === 'подписан'">
                        <i class='fas fa-circle' style='color:#28a745'>&nbsp;</i> 
                      </template>
                      <template v-else-if="item.status === 'отклонен'">
                        <i class='fas fa-circle' style='color: red'>&nbsp;</i> 
                      </template>
                      [[ item.status]]
                    </td>
                    <td>[[ item.comment ]]</td>
                    <td>[[ item.author.name ]]</td>
                    <td>
                      <button v-on:click="openEmployeeTask(item)" class="btn btn-success btn-sm rounded-3"
                        type="button" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit">
                        <i class="fas fa-edit"></i>
                      </button>
                      <button v-on:click="setCurrentItem(item)" class="btn btn-danger btn-sm rounded-3" type="button"
                        data-target="#deleteElementModal" data-toggle="modal">
                        <i class="fas fa-trash"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <!-- Удаление записи -->
        <!-- Modal -->
        <div class="modal fade" id="deleteElementModal" tabindex="-1" role="dialog"
          aria-labelledby="deleteElementModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="deleteElementModalLabel">Подтвердите действие</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Вы действительно хотите удалить запись?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-primary btn-danger" data-dismiss="modal"
                  v-on:click="deleteEmployeeTask()">
                  Удалить
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<script>
  new Vue({
    el: '#vue',
    delimiters: ['[[', ']]'],
    data: {
      employeeTaskList: [],
      currentItemIndex: 0,
      page: 1,
      page_count: 1,
      selectedRows: [],
    },
    async mounted() {
      is_authorized()
      await this.getEmployeeTaskList(this.page);
    },
    filters: {
      liveSubstr: function (string) {
        if(string == "") return ""
        return string.substring(0, 10);
      },
    },
    computed: {
      
    },
    methods: {
      selectedRow(item) {
        if (this.selectedRows.includes(item))
          return 'table-active'
        else return '' 
      },
      setActive(item) {
        index = this.selectedRows.indexOf(item)
        if (index > -1){
          this.selectedRows.splice(index, 1)
        }
        else{
          this.selectedRows.push(item) 
        }
      },
      getEmployeeTaskList: async function (page) {
        if (page == 0) page = this.page
        if (true) {
          try {
            let response = await axios.get("{{url_for('get_employee_task_list')}}?limit=100&nested=true&page=" + page, get_config())
            console.log(response.data['result'])
            this.employeeTaskList = response.data['result']
            this.page_count = response.data['info']['pages']
            if (page > 0) {
              this.page = page
            }
          }
          catch (err) {
            console.log(err); 
          check_status(err)
          }
        }
      },
      openEmployeeTask: function (item) {
        console.log(item.entity.iin);
        window.location.href = "{{ request.path }}" + item.id
      },
      deleteEmployeeTask: async function () {
        try {
          let id = this.employeeTaskList[this.currentItemIndex].id
          let response = await axios.delete("{{url_for('get_employee_task_list')}}" + id, get_config());
          if (response != null && (response.status == 200 || response.status == 201)) {
            this.employeeTaskList.splice(this.currentItemIndex, 1);
          }
        } catch (err) {
          console.log(err); 
          check_status(err)
        }
      },
      subString: function (strData) {
        strData.substring(0, 10)
      },
      setCurrentItem: function (item) {
        this.currentItemIndex = this.employeeTaskList.indexOf(item)
      },
    }
  })
</script>

{% endblock %}