{% extends 'index.html' %} {% block form_content %}

<form method="POST" action='{{ request.path }}' novalidate>
  <div id="vue">
    <template>
      <div class="row">
        <div class="col-12">
          <div class="card mt-3">
            <div class="card-header">
              Список процессов согласования
            </div>
            <div class="card-body table-responsive p-0">
              <div class="col-12 ">
                <button v-on:click="goToApprovalProcessList()" class="btn btn-primary mt-2 " type="button"
                  data-toggle="tooltip" data-placement="top">
                  Перейти к списку процесса
                </button>
                <div class="form-group row">

                  <label for="id" class="col-sm-2 col-form-label mt-2">ИД</label>
                  <div class="col-sm-10 mt-2">
                    <input type="text" name="id" class="form-control" id="id" placeholder="ИД"
                      v-model="approval_process.id" readonly>
                  </div>

                  <label for="id" class="col-sm-2 col-form-label mt-2">Активный</label>
                  <div class="col-sm-10 mt-2">
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" v-model="approval_process.is_active">
                    </div>
                  </div>

                  <label for="id" class="col-sm-2 col-form-label mt-2">Организация</label>
                  <div class="col-sm-10 mt-2">
                    <select v-on:click="getEntityList()" v-model="approval_process.entity_iin" class="form-control">
                      <option value="0">---------</option>
                      <option v-for="item in entityList" v-bind:value="item.iin">
                        [[ item.name ]] ([[ item.iin ]])
                      </option>
                    </select>
                  </div>

                  <label for="id" class="col-sm-2 col-form-label mt-2">Шаблон документа</label>
                  <div class="col-sm-10 mt-2">
                    <select v-on:click="getDocumentTypeList()" v-model="approval_process.document_type_id"
                      class="form-control" aria-label="Шаблон документа" id="document_type">
                      <option value="0">---------</option>
                      <option v-for="item in documentType" v-bind:value="item.id">
                        [[ item.description ]]
                      </option>
                    </select>
                  </div>

                  <label for="id" class="col-sm-2 col-form-label mt-2">Статус</label>
                  <div class="col-sm-10 mt-2">
                    <select v-model="approval_process.status" class="form-control">
                      <option value="0">---------</option>
                      <option v-for="item in statusList" v-bind:value="item">
                        [[ item ]]
                      </option>
                    </select>
                  </div>

                  <label for="id" class="col-sm-2 col-form-label mt-2">Дата начало</label>
                  <div class="col-sm-10 mt-2">
                    <input type="date" name="id" class="form-control" v-model="approval_process.start_date">
                  </div>

                  <label for="id" class="col-sm-2 col-form-label mt-2">Дата конец</label>
                  <div class="col-sm-10 mt-2">
                    <input type="date" name="id" class="form-control" v-model="approval_process.end_date">
                  </div>

                  <div class="mt-2 mb-2 ml-2">
                    <button v-on:click="clearActiveStep()" type="button" type="button" class="btn btn-success"
                      data-target="#newElementModal" data-toggle="modal">
                      Добавить
                    </button>
                  </div>
                  <div class="col-12">
                    <table class="table table-bordered table-hover">
                      <thead class="table-dark">
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">ID</th>
                          <th scope="col">Уровень</th>
                          <th scope="col">Активный</th>
                          <th scope="col">Тип</th>
                          <th scope="col">Сотрудник</th>
                          <th scope="col">Статус</th>
                          <th scope="col">Комментарий</th>
                          <th scope="col">Операции</th>
                        </tr>
                      </thead>
                      <tbody v-for="(rout, index) in approval_process.routes" :key="index">
                        <tr>
                          <td>[[ index+1 ]]</td>
                          <td>[[ rout.id ]]</td>
                          <td>[[ rout.level ]]</td>
                          <template v-if="rout.is_active">
                            <td>да</td>
                          </template>
                          <template v-else>
                            <td>нет</td>
                          </template>
                          <td>[[ rout.type]]</td>
                          <td>[[ rout.employee.name ]] ([[ rout.employee.email ]])</td>
                          <td>
                            <template v-if="rout.status === 'согласован'">
                              <i class='fas fa-circle' style='color:#28a745'>&nbsp;</i> 
                            </template>
                            <template v-else-if="rout.status === 'отклонен'">
                              <i class='fas fa-circle' style='color: red'>&nbsp;</i> 
                            </template>
                            [[ rout.status]]</td>
                          <td>[[ rout.status_comment]]</td>
                          <td>
                            <button v-on:click="loadStep(rout, index)" data-toggle="modal"
                              data-target="#newElementModal" class="btn btn-success btn-sm rounded-3" type="button"
                              data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit">
                              <i class="fas fa-edit"></i>
                            </button>
                            <button v-on:click="deleteStep(rout, index)" class="btn btn-danger btn-sm rounded-3"
                              type="button" data-toggle="tooltip" data-placement="top" title=""
                              data-original-title="Delete">
                              <i class="fas fa-trash"></i>
                            </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="pt-3 row">
                    <div class="col mt-2 mb-2 ml-2">
                      <button type="button" class="btn btn-primary " v-on:click="sendData()">
                        Сохранить
                      </button>
                      <button type="button" class="btn btn-primary btn-danger" data-toggle="modal"
                        data-target="#deleteElementModal">
                        Удалить
                      </button>
                    </div>
                  </div>

                  <!-- Новый элемент -->
                  <div class="modal fade" id="newElementModal" tabindex="-1" aria-labelledby="newElementModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="newElementModalLabel">Строка записи</h5>
                          <button type="button" data-dismiss="modal" aria-label="Отмена" class="close"><span
                              aria-hidden="true">×</span></button>
                        </div>
                        <div class="modal-body">
                          <div class="pt-2 row">

                            <label for="rout_position" class="col-sm-2 col-form-label">Номер записи</label>
                            <div class="col-sm-10 mt-2">
                              <input type="number" class="form-control" id="rout_position" placeholder="Уровень"
                                v-model.number="rout_position" readonly>
                            </div>

                            <label for="rout_is_active" class="col-sm-2 col-form-label">Активный</label>
                            <div class="col-sm-10 mt-2">
                              <div class="form-check">
                                <input type="checkbox" class="form-check-input" v-model="rout_is_active">
                              </div>
                            </div>
                            
                            <label for="rout_status" class="col-sm-2 col-form-label">Статус</label>
                            <div class="col-sm-10 mt-2">
                              <input type="text" class="form-control" id="rout_status" placeholder="Уровень"
                                v-model="rout_status" readonly>
                            </div>

                            <label for="rout_status_comment" class="col-sm-2 col-form-label" >Комментарий</label>
                            <div class="col-sm-10 mt-2">
                              <textarea class="form-control" rows="3" placeholder="Комментарий" v-model="rout_status_comment" readonly></textarea>
                            </div>

                            <label for="rout_level" class="col-sm-2 col-form-label mt-2">Уровень</label>
                            <div class="col-sm-10 mt-2">
                              <input type="number" class="form-control" id="rout_level" placeholder="Уровень"
                                v-model.number="rout_level" min="1" max="100">
                            </div>

                            <label for="rout_level" class="col-sm-2 col-form-label">Тип согласования</label>
                            <div class="col-sm-10 mt-2">
                              <select class="form-control" aria-label="Тип согласования" id="rout_type"
                                v-model="rout_type">
                                <option selected>-------------------</option>
                                <option value="линейное">линейное</option>
                                <option value="параллельное">параллельное</option>
                              </select>
                            </div>

                            <label for="rout_employee_id" class="col-sm-2 col-form-label">Сотрудник</label>
                            <div class="col-sm-10 mt-2">
                              <select v-on:click="getEmployeeList()" v-model="rout_employee" class="form-control"
                                aria-label="Сотрудник" id="rout_employee">
                                <option value="0">---------</option>
                                <option v-for="item in emloyeeList"
                                  v-bind:value="{id: item.id, name: item.name, email: item.email }">
                                  [[ item.name ]]
                                </option>
                              </select>
                            </div>

                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                          <button type="button" class="btn btn-primary " role="button" v-on:click="updateStep()"
                            data-dismiss="modal">
                            Сохранить
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Сохранение записи -->
                  <div class="modal fade" id="deleteElementModal" tabindex="-1"
                    aria-labelledby="deleteElementModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="deleteElementModalLabel">Подтвердите действие</h5>
                          <button type="button" data-dismiss="modal" aria-label="Отмена" class="close"><span
                              aria-hidden="true">×</span></button>
                        </div>
                        <div class="modal-body">
                          Вы действительно хотите удалить запись?
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                          <button type="button" class="btn btn-primary btn-danger" data-dismiss="modal"
                            v-on:click="deleteApprovalProcess()">
                            Удалить
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </template>
  </div>
</form>

<script>
  new Vue({
    delimiters: ['[[', ']]'],
    el: '#vue',
    data: {
      approval_process: {
        "id": 0,
        "is_active": true,
        "document_id": 0,
        "document_type_id": 0,
        "entity_iin": "",
        "approval_template_id": 0,
        "status": "в работе",
        "start_date": "",
        "end_date": "",
        "document": {
          "number": "",
          "date": ""
        },
        "document_type": {
          "id": 4,
          "name": "",
          "description": ""
        },
        "entity": {
          "id": 0,
          "iin": "",
          "name": ""
        },
        "approval_template": {
          "id": 0,
          "document_type_id": 0,
          "name": ""
        },
        "routes": [],
      },
      approval_process_id: "{{itemId}}",
      emloyeeList: [],
      entityList: [],
      documentType: [],
      statusList: ['в работе', 'подписан', 'отклонен', 'отменен', 'в работе', 'черновик'],
      rout_employee: {},
      rout_type: '',
      rout_level: 0,
      rout_status: '',
      rout_status_comment: '',
      rout_index: -1,
      rout_position: 0,
      rout_is_active: true
    },
    async mounted() {
      is_authorized()
      if (this.approval_process_id != 'new') {
        await this.getApprovalProcess()

      }
      await this.getEmployeeList()
      await this.getEntityList()
      await this.getDocumentTypeList()

    },
    methods: {
      getApprovalProcess: async function () {
        console.log(Vue.version);
        try {
          let response = await axios.get("{{url_for('get_approval_process_list')}}" + this.approval_process_id + "?nested=true", get_config());
          console.log(response.data)
          this.approval_process = response.data
          return response
        } catch (err) {
          console.log(err)
          return null
        }
      },
      collectData: function () {
        approval_process_routes = []
        approval_process_dict = {}
        this.approval_process.routes.forEach((element) => {
          routDict = {
            'id': parseInt(element.id),
            'is_active': element.is_active,
            'level': element.level,
            'type': element.type,
            "document_id": this.approval_process.document_id,
            "document_type_id": this.approval_process.document_type_id,
            "entity_iin": this.approval_process.entity_iin,
            'employee_id': element.employee_id,
            'approval_template_id': this.approval_process.approval_template_id,
            'approval_process_id': this.approval_process.id,
            'hash': ''
          }
          approval_process_routes.push(routDict)
        })
        approval_process_dict = {
          "id": this.approval_process.id,
          "is_active": this.approval_process.is_active,
          "document_id": this.approval_process.document_id,
          "document_type_id": this.approval_process.document_type_id,
          "status": this.approval_process.status,
          "start_date": this.approval_process.start_date,
          "end_date": this.approval_process.end_date,
          "entity_iin": this.approval_process.entity_iin,
          'approval_template_id': this.approval_process.approval_template_id,
          "routes": approval_process_routes
        }
        console.log(this.document_type_id);
        return approval_process_dict
      },
      postApprovalProcess: async function () {
        approval_process_dict = this.collectData()
        console.log(Vue.version);
        try {
          let response = await axios.post("{{url_for('get_approval_process_list')}}", approval_process_dict, get_config());
          console.log(response.data)
          this.approval_process = response.data
          this.approval_process_id = this.approval_process['id']
          return response
        } catch (err) {
          console.log(err)
          return null
        }
      },

      putApprovalProcess: async function () {
        approval_process_dict = this.collectData()
        console.log("before send")
        console.log(JSON.stringify(approval_process_dict));
        try {
          let response = await axios.put("{{url_for('get_approval_process_list')}}" + this.approval_process_id, approval_process_dict, get_config());
          console.log(response.data)
          return response
        } catch (err) {
          console.log(err)
        }
      },
      deleteApprovalProcess: async function () {
        try {
          let response = await axios.delete("{{url_for('get_approval_process_list')}}" + this.approval_process_id, get_config());
          if (response != null && (response.status == 200 || response.status == 201)) {
            this.goToApprovalProcessList()
          }
        } catch (err) {
          console.log(err)
        }
      },
      goToApprovalProcessList: function () {
        window.location.href = "{{url_for('approval_process_list')}}"
      },
      clearActiveStep: function () {
        this.rout_employee = {},
          this.rout_type = '',
          this.rout_level = 1,
          this.rout_is_active = true,
          this.rout_status = "";
          this.rout_status_comment = "";
          this.rout_index = -1
        this.rout_position = this.approval_process.routes.length + 1
      },
      addNewStep: function () {
        this.approval_process.routes.push({
          "id": 0,
          "level": this.rout_level,
          "is_active": this.rout_is_active,
          "type": this.rout_type,
          "employee_id": this.rout_employee.id,
          "employee": {
            "id": this.rout_employee.id,
            "name": this.rout_employee.name,
            "email": this.rout_employee.email
          }
        })
      },
      loadStep: function (rout, index) {
        this.rout_level = rout.level;
        this.rout_type = rout.type;
        this.rout_employee = rout.employee
        this.rout_is_active = rout.is_active
        this.rout_index = index;
        this.rout_status = rout.status;
        this.rout_status_comment = rout.status_comment;
        this.rout_index = index;
        this.rout_position = index + 1;
      },
      updateStep: function () {
        if (this.rout_index == -1) {
          this.addNewStep();
          return
        }
        rout = this.approval_process.routes[this.rout_index]
        rout.level = this.rout_level;
        rout.type = this.rout_type;
        rout.is_active = this.rout_is_active;
        rout.employee_id = this.rout_employee.id;
        rout.status = this.rout_status;
        rout.status_comment = this.rout_status_comment;
        rout.employee = this.rout_employee;
      },
      deleteStep: function (rout, index) {
        this.approval_process.routes.pop(index);
      },
      getDocumentTypeList: async function () {
        if (this.documentType.length > 0) {
          return
        }
        try {
          let response = await axios.get("{{url_for('get_document_type_list')}}?skip=0&limit=100&", get_config())
          console.log("getDocumentTypeList")
          console.log(response.data)
          this.documentType = response.data['result']
        } catch (err) {
          console.log(err)
        }
      },
      getEmployeeList: async function () {
        if (this.emloyeeList.length > 0) {
          return
        }
        try {
          let response = await axios.get("{{url_for('get_employee_list')}}?skip=0&limit=100&", get_config())
          console.log(response.data)
          this.emloyeeList = response.data['result']
        } catch (err) {
          console.log(err)
        }
      },
      getEntityList: async function () {
        if (this.entityList.length > 0) {
          return
        }
        try {
          let response = await axios.get("{{url_for('get_entity_list')}}?skip=0&limit=100&nested=false&optional=false", get_config())
          console.log(response.data)
          this.entityList = response.data['result']
        } catch (err) {
          console.log(err)
        }
      },
      sendData: async function () {
        if (this.approval_process_id == 'new') {
          let response = await this.postApprovalProcess()
          if (response != null && (response.status == 200 || response.status == 201)) {
            await this.getApprovalProcess()
          }
        } else {
          let response = await this.putApprovalProcess()
          if (response != null && (response.status == 200 || response.status == 201)) {
            await this.getApprovalProcess()
            $("#success-alert").fadeTo(2000, 500).slideUp(500, function () {
              $("#success-alert").slideUp(500);
            });
          }
        }

      }
    }
  })
</script>

{% endblock %}