{% extends 'index.html' %} {% block form_content %}

<form method="POST" action='#' novalidate>
  <div id="vue">
    <div class="row">
      <div class="col-12">
        <div class="card mt-2">
          <div class="card-header">
            Список шаблонов согласования документов
          </div>
          <div class="card-body table-responsive p-0">
            <a class="btn btn-primary m-2" href="{{ request.path }}new" role="button">Создать новый
              элемент</a>
            <div class="col-12">
              <table class="table table-bordered table-hover">
                <thead class="table-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Организация</th>
                    <th scope="col">Документ</th>
                    <th scope="col">Шаблон документа</th>
                    <th scope="col">Статус</th>
                    <th scope="col">Дата начало</th>
                    <th scope="col">Дата конец</th>
                    <th scope="col">Операции</th>
                  </tr>
                </thead>
                <tbody v-for="item in listOfApprovalProcess" :key="item.id">
                  <tr>
                    <td>[[ item.id ]]</td>
                    <td>[[ item.entity.name]] ([[ item.entity.iin]])</td>
                    <td>[[ item.document_type.description ]]</td>
                    <td>[[ item.document_type.description ]] №[[ item.document.number ]] от [[
                      item.document.date ]]</td>
                    <td>[[ item.status ]]</td>
                    <td>[[ item.start_date ]]</td>
                    <td>[[ item.end_date ]]</td>
                    <td>
                      <button v-on:click="openApprovalProcess(item)" class="btn btn-success btn-sm rounded-3"
                        type="button" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit">
                        <i class="fas fa-edit"></i>
                      </button>
                      <button v-on:click="setCurrentItem(item)" class="btn btn-danger btn-sm rounded-3" type="button"
                        data-toggle="modal" data-target="#deleteElementModal">
                        <i class="fas fa-stop"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <!-- Удаление записи -->
          <!-- Modal -->
          <div class="modal fade" id="deleteElementModal" tabindex="-1" role="dialog"
            aria-labelledby="deleteElementModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="deleteElementModalLabel">Подтвердите действие</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  Вы действительно хотите остановить процесс согласования?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                  <button type="button" class="btn btn-primary btn-danger" data-dismiss="modal"
                    v-on:click="deleteApprovalProcess()">
                    Да
                  </button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</form>

<script>
  new Vue({
    el: '#vue',
    delimiters: ['[[', ']]'],
    data: {
      listOfApprovalProcess: [],
      currentItemIndex: 0,
    },
    async mounted() {
      await this.getApprovalProcessList()
    },
    methods: {
      getApprovalProcessList: async function () {
        console.log(Vue.version);
        if (this.listOfApprovalProcess.length == 0) {
          try {

            let response = await axios.get("{{url_for('get_approval_process_list')}}?nested=true")
            console.log(response.data)
            this.listOfApprovalProcess = response.data
          } catch (err) {
            console.log(err)
          }
        };
      },
      openApprovalProcess: function (item) {
        console.log(item.entity.iin);
        window.location.href = "{{ request.path }}" + item.id
      },
      deleteApprovalProcess: async function () {
        try {
          let id = this.listOfApprovalProcess[this.currentItemIndex].id
          let response = await axios.delete("{{url_for('get_approval_process_list')}}" + id);
          if (response != null && (response.status == 200 || response.status == 201)) {
            this.listOfApprovalProcess.splice(this.currentItemIndex, 1);
          }
        } catch (err) {
          console.log(err)
        }
      },
      setCurrentItem: function (item) {
        this.currentItemIndex = this.listOfApprovalProcess.indexOf(item)
      },
    }
  })
</script>

{% endblock %}