{% extends 'index.html' %} 
{% block form_content %}
<form method="POST" action='{{ request.path }}' novalidate>
    <div class="card" id="vue">
        <template>
            <div class="card-header">
                [[ entity.name ]] ([[entity.iin]])
            </div>
            <div class="card-body table-responsive p-0">
                <div class="col-12 ">
                  <div class="mt-2 ml-1 row">
                        
                        <label for="item_position" class="col-sm-2 col-form-label">ID</label>
                        <div class="col-sm-10 mt-2">
                            <input type="number" class="form-control" placeholder="ID" v-model.number="entity.id">
                        </div> 
                        
                        <label for="item_position" class="col-sm-2 col-form-label">Наименование</label>
                        <div class="col-sm-10 mt-2">
                            <input type="text" class="form-control" placeholder="Наименование" v-model="entity.name">
                        </div>

                        <label for="item_position" class="col-sm-2 col-form-label">Полное наименование</label>
                        <div class="col-sm-10 mt-2">
                            <input type="text" class="form-control" placeholder="Полное наименование" v-model="entity.full_name">
                        </div>

                        <label for="item_position" class="col-sm-2 col-form-label">ИИН</label>
                        <div class="col-sm-10 mt-2">
                            
                            <input type="text" class="form-control" placeholder="ИИН" v-model="entity.iin">
                        </div>

                        <label for="item_position" class="col-sm-2 col-form-label">Адрес</label>
                        <div class="col-sm-10 mt-2">
                            <input type="text" class="form-control" placeholder="Адрес" v-model="entity.address">
                        </div>

                        <label for="item_position" class="col-sm-2 col-form-label">Комментарий</label>
                        <div class="col-sm-10 mt-2">
                            <textarea class="form-control" rows="3" placeholder="Комментарий" v-model="entity.comment"></textarea>
                        </div>

                        <label for="item_position" class="col-sm-2 col-form-label">Директор</label>
                        <div class="col-sm-10 mt-2">
                            <input type="text" class="form-control" placeholder="Директор"v-model="entity.director">
                        </div>

                        <label for="item_position" class="col-sm-2 col-form-label">Директор телефон</label>
                        <div class="col-sm-10 mt-2">
                            <input type="text" class="form-control" placeholder="Директор телефон"v-model="entity.director_phone">
                        </div>
                        
                        <label for="item_position" class="col-sm-2 col-form-label">Администратор</label>
                        <div class="col-sm-10 mt-2">
                            <input type="text" class="form-control" placeholder="Администратор"v-model="entity.administrator">
                        </div>

                        <label for="item_position" class="col-sm-2 col-form-label">Администратор телефон</label>
                        <div class="col-sm-10 mt-2">
                            <input type="text" class="form-control" placeholder="Администратор телефон"v-model="entity.administrator_phone">
                        </div>

                        <label for="item_position" class="col-sm-2 col-form-label">token</label>
                        <div class="col-sm-10 mt-2">
                            <input type="text" class="form-control" placeholder="token"v-model="entity.token" readonly>
                        </div>

                        <label for="item_position" class="col-sm-2 col-form-label">Начало периода</label>
                        <div class="col-sm-10 mt-2">
                            <input type="date" class="form-control" placeholder="Начало периода"v-model="entity.start_date">
                        </div>

                        <label for="item_position" class="col-sm-2 col-form-label">Конец периода</label>
                        <div class="col-sm-10 mt-2">
                            <input type="date" class="form-control" placeholder="Конец периода"v-model="entity.end_date">
                        </div>

                        <label for="item_position" class="col-sm-2 col-form-label">Директор</label>
                        <div class="col-sm-10 mt-2">
                            <select v-on:click="getBusinessTypeList()" v-model="entity.type_name" class="form-control" aria-label="Сотрудник" id="step_employee">
                                <option value="0">---------</option>
                                <option v-for="item in businessTypeList" v-bind:value="item.value">
                                [[ item.text ]]
                                </option>
                            </select>
                        </div>

                        <label for="item_position" class="col-sm-2 col-form-label">Директор</label>
                        <div class="col-sm-10 mt-2">
                            <select v-on:click="getUserList()" v-model="entity.user_id" class="form-control" aria-label="Сотрудник" id="step_employee">
                                <option value="0">---------</option>
                                <option v-for="item in userList" v-bind:value="item.value">
                                [[ item.text ]]
                                </option>
                            </select>
                        </div>
                    </div>
                <div class="pt-3 row">
                    <div class="col">  
                        <button class="btn btn-primary">Сохранить</button> 
                        <button type="button" class="btn btn-primary btn-danger" data-toggle="modal" data-target="#deleteEmployeeModal">
                            Удалить
                        </button>
                    </div>
                </div>
               
            <!-- Modal -->
                <div class="modal fade" id="deleteEmployeeModal">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteEmployeeModalLabel">Подтвердите действие</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Вы действительно хотите удалить запись?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal" data-dismiss="modal">Отмена</button>
                                    <a href="{{ request.path }}/delete" class="btn btn-primary btn-danger" role="button" data-dismiss="modal">Удалить</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </template>
    </div>
</form>
<script>
   new Vue({
       delimiters: ['[[', ']]'],
       el: '#vue',
       data: {
           businessTypeList: [],
           userList: [],
           entity: {
            "id": 0,
            "name": "",
            "full_name": "",
            "iin": "",
            "address": "",
            "comment": "",
            "director": "",
            "director_phone": "",
            "administrator": "",
            "administrator_phone": "",
            "token": "",
            "start_date": "2022-01-01",
            "end_date": "2022-01-01",
            "type_name": "ТОО",
            "user_id": 1
          }
       },
       async mounted() {
           await getBusinessTypeList();
           await getUserList();
       },
       methods: {
        getBusinessTypeList: async function(){
            if (this.businessTypeList.length > 0) {
                return
            }
            let response = await axios.get("{{url_for('get_business_type_list')}}?optional=true")
                console.log(response.data)
                this.businessTypeList = response.data
        },
        getUserList: async function(){
            if (this.userList.length > 0) {
                return
            }
            let response = await axios.get("{{url_for('get_user_list')}}?optional=true")
                console.log(response.data)
                this.userList = response.data
        }
      }
   })
</script>
{% endblock %}