{% extends 'index.html' %}

{% block form_content %}

<form method="POST" action='{{ request.path }}' novalidate >
    
  <div class="card" id="vue">
    <template>
      <div class="card-header">
        {{ entity.name }} ({{entity.iin}})
      </div>
      <div class="card-body">
        <div class="form-group row">
          {{entityLabel}}
          {{entity}}
        {% for field in entityLabel if not entityLabel[field]['skip'] %}
          <div class="pt-2 row">
            <label for="{{field}}" class="col-sm-2 col-form-label">{{entityLabel[field]['label']}}</label>
            <div class="col-sm-10">
              {% if entityLabel[field]['type'] == 'text' %}
                <input type="text" name="{{field}}" class="form-control" id="{{field}}" placeholder="{{entityLabel[field]['label']}}" value="{{entity[field]}}" {{entityLabel[field]['readonly']}}>
              {% elif entityLabel[field]['type'] == 'textarea' %}
                <textarea name="{{field}}" cols="40" rows="3" class="form-control" id="{{field}}">{{entity[field]}}</textarea>
              {% elif entityLabel[field]['type'] == 'select' and entityLabel[field]['get_from_api'] and field == 'type_id'%}
                <select v-model="selected_type_id" name="{{field}}" class="form-select" aria-label="Default select example" id="{{field}}" {{entityLabel[field]['readonly']}}>
                  <option value="">---------</option>
                  <option v-for="option in type_options" v-bind:value="option.value">
                    [[ option.text ]]
                  </option>
                </select>
              {% elif entityLabel[field]['type'] == 'select' and entityLabel[field]['get_from_api'] and field == 'user_id'%}
                <select v-model="selected_user_id" name="{{field}}" class="form-select" aria-label="Default select example" id="{{field}}" {{entityLabel[field]['readonly']}}>
                  <option value="">---------</option>
                  <option v-for="option in user_options" v-bind:value="option.value">
                    [[ option.text ]]
                  </option>
                </select>
              {% elif entityLabel[field]['type'] == 'date' %}
                <input type="{{entityLabel[field]['type']}}" name="{{field}}" class="form-control" 
                  id="{{field}}" placeholder="{{entityLabel[field]['label']}}" value="{{entity[field]}}" {{entityLabel[field]['readonly']}}>
              {% endif %}
            </div>
          </div>
        {% endfor %}
        <div class="pt-3 row">
          <div class="col">  
            <button class="btn btn-primary btn-block">Сохранить</button>
          </div> 
        </div>
      </div>
    </template>
  </div>
</form>

<script>
  new Vue({
      delimiters: ['[[', ']]'],
      el: '#vue',
      data: {
        type_options: [],
        user_options: [],
        selected_type_id: {{entity['type_id']}},
        selected_user_id: {{entity['user_id']}},
      },
      async mounted() {
        console.log(Vue.version);
        try{
          let response = await axios.get("{{url_for('get_business_type_options_list')}}")
          console.log(response.data)
          this.type_options = response.data
        }catch(err){
          console.log(err)
        };
        try{
          let response = await axios.get("{{url_for('get_user_options_list')}}")
          console.log(response.data)
          this.user_options = response.data
        }catch(err){
          console.log(err)
        }
      },
    })
</script>

{% endblock %}