{% extends 'index.html' %}
{% block form_content %}

<form method="POST" action='{{ request.path }}' novalidate>
  <div id="vue">
    <div class="row">
      <div class="card mt-2">
        <div class="card-header">
          Список организации
          <div class="card-tools">
            <ul class="pagination pagination-sm float-right">
              <template v-if="page > 3">
                <li class="page-item"><button type="button" class="page-link" v-on:click="getEntityList(1)">1</button>
                </li>
              </template>

              <template v-if="page-3 > 1">
                <li class="page-item"><button type="button" class="page-link " v-on:click="getEntityList(page-3)"><i
                      class="fas fa-angle-double-left"></i></button></li>
              </template>

              <template v-if="page > 1">
                <li class="page-item"><button type="button" class="page-link"
                    v-on:click="getEntityList(page-1)">[[page-1]]</button></li>
              </template>

              <li class="page-item active"><button type="button" class="page-link">[[page]]</button></li>

              <template v-if="page < page_count">
                <li class="page-item"><button type="button" class="page-link"
                    v-on:click="getEntityList(page+1)">[[page+1]]</button></li>
              </template>

              <template v-if="page+3 < page_count">
                <li class="page-item"><button type="button" class="page-link" v-on:click="getEntityList(page+3)"><i
                      class="fas fa-angle-double-right"></i></button></li>
              </template>

              <template v-if="page < page_count-2">
                <li class="page-item"><button type="button" class="page-link"
                    v-on:click="getEntityList(page_count)">[[page_count]]</button></li>
              </template>

            </ul>
          </div>
        </div>
        <div class="card-body table-responsive p-0">
          <a class="btn btn-primary ml-2 mt-2" href="{{ request.path }}new">Создать новый элемент</a>
          <div class="pt-2 col">
            <table class="table table-bordered table-hover">
              <thead class="table-dark">
                <tr>
                  <th scope="col">ИД</th>
                  <th scope="col">ИИН</th>
                  <th scope="col">Наименование</th>
                  <th scope="col">Тип организации</th>
                  <th scope="col">Дата начало</th>
                  <th scope="col">Дата конец</th>
                  <th scope="col">Операции</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="entity in listEntity" :key="entity.iin">
                  <th scope="row">[[ entity.id ]]</th>
                  <td>[[ entity.iin ]]</td>
                  <td>[[ entity.name ]]</td>
                  <td>[[ entity.type.name ]]</td>
                  <td>[[ entity.start_date ]]</td>
                  <td>[[ entity.end_date ]]</td>
                  <td>
                    <button v-on:click="openEntity(entity)" class="btn btn-success btn-sm rounded-3" type="button"
                      data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit">
                      <i class="fas fa-edit"></i>
                    </button>
                    <button v-on:click="setCurrentItem(entity)" class="btn btn-danger btn-sm rounded-3" type="button"
                      data-toggle="modal" data-target="#deleteElementModal">
                      <i class="fas fa-trash"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <!-- Удаление записи -->
        <!-- Modal -->
        <div class="modal fade" id="deleteElementModal" tabindex="-1" role="dialog"
          aria-labelledby="deleteElementModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="deleteElementModalLabel">Подтвердите действие</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Вы действительно хотите удалить запись?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-primary btn-danger" data-dismiss="modal"
                  v-on:click="deleteEntity()">
                  Удалить
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<script>
  new Vue({
    el: '#vue',
    delimiters: ['[[', ']]'],
    data: {
      //listEntity: {{ listOfValue|safe }},
      listEntity: [],
      currentItemIndex: 0,
      page: 1,
      page_count: 1,
    },
    async mounted() {
      is_authorized()
      await this.getEntityList(this.page)
    },
    methods: {
      getEntityList: async function (page) {
        console.log("{{url_for('get_entity_list')}}?nested=true&limit=100&page=" + page);
        //if (this.listEntity.length == 0) {
        if (true) {
          try {
            let response = await axios.get("{{url_for('get_entity_list')}}?nested=true&limit=100&page=" + page, get_config())
            console.log(response.data['result'])
            this.listEntity = response.data['result']
            this.page_count = response.data['info']['pages']
            if (page > 0) {
              this.page = page
            }
          }
          catch (err) {
            console.log(err); 
          check_status(err)
          }
        };
      },
      openEntity: function (item) {
        window.location.href = "{{ request.path }}" + item.iin
      },
      deleteEntity: async function () {
        try {
          let iin = this.listEntity[this.currentItemIndex].iin
          let response = await axios.delete("{{url_for('get_entity_list')}}" + iin, get_config());
          if (response != null && (response.status == 200 || response.status == 201)) {
            this.listEntity.splice(this.currentItemIndex, 1);
          }
        } catch (err) {
          console.log(err); 
          check_status(err)
        }
      },
      setCurrentItem: function (item) {
        this.currentItemIndex = this.listEntity.indexOf(item)
      },
    }
  })
</script>

{% endblock %}