{% extends 'index.html' %}

{% block form_content %}

<form method="POST" action='{{ request.path }}' novalidate >
    
  <div class="card" id="vue">
    <template>
      <div class="card-header">
        {{ entity.name }} ({{entity.iin}})
      </div>
      <div class="card-body">
        <div class="form-group row">

        {% for field in entityLabel if not entityLabel[field]['skip'] %}
          <div class="pt-2 row">
            <label for="{{field}}" class="col-sm-2 col-form-label">{{entityLabel[field]['label']}}</label>
            <div class="col-sm-10">
              {% if entityLabel[field]['type'] == 'text' %}
                <input type="text" name="{{field}}" class="form-control" 
                  id="{{field}}" placeholder="{{entityLabel[field]['label']}}" value="{{entity[field]}}" 
                  {% if entityLabel[field]['maxlength'] %} maxlength="{{entityLabel[field]['maxlength']}}" {% endif %} 
                  {% if entityLabel[field]['min'] %} min="{{entityLabel[field]['min']}}" {% endif %}
                  {% if entityLabel[field]['max'] %} max="{{entityLabel[field]['max']}}" {% endif %}
                  {% if entityLabel[field]['readonly'] %} readonly {% endif %}
                  {% if entityLabel[field]['pattern'] %} pattern="{{entityLabel[field]['pattern']}}" {% endif %}
                  >
              {% elif entityLabel[field]['type'] == 'textarea' %}
                <textarea name="{{field}}" cols="40" rows="3" class="form-control" id="{{field}}" {% if entityLabel[field]['readonly'] %} readonly {% endif %}>{{entity[field]}}</textarea>
              {% elif entityLabel[field]['type'] == 'select' and entityLabel[field]['get_from_api'] %}
                <select v-model="selected_{{field}}" name="{{field}}" class="form-select" aria-label="Default select example" id="{{field}}" 
                {% if entityLabel[field]['maxlength'] %} maxlength="{{entityLabel[field]['maxlength']}}" {% endif %} 
                {% if entityLabel[field]['min'] %} min="{{entityLabel[field]['min']}}" {% endif %}
                {% if entityLabel[field]['max'] %} max="{{entityLabel[field]['max']}}" {% endif %}
                {% if entityLabel[field]['readonly'] %} readonly {% endif %}
                {% if entityLabel[field]['pattern'] %} pattern="{{entityLabel[field]['pattern']}}" {% endif %}
                  >
                  <option value="0">---------</option>
                  <option v-for="option in {{field}}_options" v-bind:value="option.value">
                  [[ option.text ]]
                </option>
              </select>
              {% else %}
                <input type="{{entityLabel[field]['type']}}" name="{{field}}" class="form-control" 
                  id="{{field}}" placeholder="{{entityLabel[field]['label']}}" value="{{entity[field]}}" 
                  {% if entityLabel[field]['maxlength'] %} maxlength="{{entityLabel[field]['maxlength']}}" {% endif %}
                  {% if entityLabel[field]['min'] %} min="{{entityLabel[field]['min']}}" {% endif %}
                  {% if entityLabel[field]['max'] %} max="{{entityLabel[field]['max']}}" {% endif %} 
                  {% if entityLabel[field]['readonly'] %} readonly {% endif %}
                  {% if entityLabel[field]['pattern'] %} pattern="{{entityLabel[field]['pattern']}}" {% endif %}
                  >
              {% endif %}
            </div>
          </div>
        {% endfor %}
        <div class="pt-3 row">
          <div class="col">  
            <button class="btn btn-primary btn-block">Сохранить</button> 
            <button type="button" class="btn btn-primary btn-danger" data-bs-toggle="modal" data-bs-target="#deleteEmployeeModal">
              Удалить
            </button>
          </div> 
        </div>

        <!-- Modal -->
        <div class="modal fade" id="deleteEmployeeModal" tabindex="-1" aria-labelledby="deleteEmployeeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="deleteEmployeeModalLabel">Подтвердите действие</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Вы действительно хотите удалить запись?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                <a href="{{ request.path }}/delete" class="btn btn-primary btn-danger" role="button">Удалить</a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </template>
  </div>
</form>

<script>
  new Vue({
      delimiters: ['[[', ']]'],
      el: '#vue',
      data: {
        type_id_options: [],
        user_id_options: [],
        selected_type_id: 
        {% if not is_new %} {{entity['type_id']}} {% else %}0{% endif %},
        selected_user_id: 
        {% if not is_new %} {{entity['user_id']}} {% else %}0{% endif %},
      },
      async mounted() {
        console.log(Vue.version);
        try{
          let response = await axios.get("{{url_for('get_business_type_options_list')}}")
          console.log(response.data)
          this.type_id_options = response.data
        }catch(err){
          console.log(err)
        };
        try{
          let response = await axios.get("{{url_for('get_user_options_list')}}")
          console.log(response.data)
          this.user_id_options = response.data
        }catch(err){
          console.log(err)
        }
      },
    })
</script>

{% endblock %}