{% extends 'index.html' %} {% block form_content %}

<form method="POST" action='{{ request.path }}' novalidate>

    <div class="card" id="vue">
        <template>
      <div class="card-header">
        {{ employee.name }} ({{employee.email}})
      </div>
      <div class="card-body">
        <div class="form-group row">

          {% for field in employeeLabel if not employeeLabel[field]['skip'] %}
          <div class="pt-2 row">
            <label for="{{field}}" class="col-sm-2 col-form-label">{{employeeLabel[field]['label']}}</label>
            <div class="col-sm-10">
              {% if employeeLabel[field]['type'] == 'text' %}
              <input type="text" name="{{field}}" class="form-control" id="{{field}}"
                placeholder="{{employeeLabel[field]['label']}}" value="{{employee[field]}}" {% if
                employeeLabel[field]['maxlength'] %} maxlength="{{employeeLabel[field]['maxlength']}}" {% endif %} {% if
                employeeLabel[field]['min'] %} min="{{employeeLabel[field]['min']}}" {% endif %} {% if
                employeeLabel[field]['max'] %} max="{{employeeLabel[field]['max']}}" {% endif %} {% if
                employeeLabel[field]['readonly'] %} readonly {% endif %} {% if employeeLabel[field]['pattern'] %}
                pattern="{{employeeLabel[field]['pattern']}}" {% endif %}>
              {% elif employeeLabel[field]['type'] == 'textarea' %}
              <textarea name="{{field}}" cols="40" rows="3" class="form-control" id="{{field}}" {% if
                employeeLabel[field]['readonly'] %} readonly {% endif %}>{{employee[field]}}</textarea>
              {% elif employeeLabel[field]['type'] == 'select' and employeeLabel[field]['get_from_api'] %}
              <select v-model="selected_{{field}}" name="{{field}}" class="form-control"
                aria-label="Default select example" id="{{field}}" {% if employeeLabel[field]['maxlength'] %}
                maxlength="{{employeeLabel[field]['maxlength']}}" {% endif %} {% if employeeLabel[field]['min'] %}
                min="{{employeeLabel[field]['min']}}" {% endif %} {% if employeeLabel[field]['max'] %}
                max="{{employeeLabel[field]['max']}}" {% endif %} {% if employeeLabel[field]['readonly'] %} readonly {%
                endif %} {% if employeeLabel[field]['pattern'] %} pattern="{{employeeLabel[field]['pattern']}}" {% endif
                %}>
                <option value="0">---------</option>
                <option v-for="option in {{field}}_options" v-bind:value="option.value">
                  [[ option.text ]]
                </option>
              </select>
              {% else %}
              <input type="{{employeeLabel[field]['type']}}" name="{{field}}" class="form-control" id="{{field}}"
                placeholder="{{employeeLabel[field]['label']}}" value="{{employee[field]}}" {% if
                employeeLabel[field]['maxlength'] %} maxlength="{{employeeLabel[field]['maxlength']}}" {% endif %} {% if
                employeeLabel[field]['min'] %} min="{{employeeLabel[field]['min']}}" {% endif %} {% if
                employeeLabel[field]['max'] %} max="{{employeeLabel[field]['max']}}" {% endif %} {% if
                employeeLabel[field]['readonly'] %} readonly {% endif %} {% if employeeLabel[field]['pattern'] %}
                pattern="{{employeeLabel[field]['pattern']}}" {% endif %}>
              {% endif %}
            </div>
          </div>
          {% endfor %}
          <div class="pt-3 row">
            <div class="col">
              <button class="btn btn-primary ">Сохранить</button>
              <button type="button" class="btn btn-primary btn-danger" data-toggle="modal"
                data-target="#deleteEmployeeModal">
                Удалить
              </button>
            </div>
          </div>

          <!-- Modal -->
          <div class="modal fade" id="deleteEmployeeModal" tabindex="-1" aria-labelledby="deleteEmployeeModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="deleteEmployeeModalLabel">Подтвердите действие</h5>
                  <button type="button" class="btn-close" data-dismiss="modal"
                    aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  Вы действительно хотите удалить запись?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" table table-bordered
                    table-hover="modal">Отмена</button>
                  <a href="{{ request.path }}/delete" class="btn btn-primary btn-danger" role="button">Удалить</a>
                </div>
              </div>
            </div>
          </div>

        </div>
    </template>
    </div>
</form>

<script>
    new Vue({
        delimiters: ['[[', ']]'],
        el: '#vue',
        data: {
            entity_iin_options: [],
            user_id_options: [],
            selected_entity_iin: {% if not is_new %} {{employee['entity_iin']}} {% else %} 0 {% endif %},
            selected_user_id: {%if not is_new %} {{employee['user_id']}} {%else %}0 {% endif %},
        },
        async mounted() {
            console.log(Vue.version);
            try {
                let response = await axios.get("{{url_for('get_entity_list')}}?optional=true")
                console.log(response.data)
                this.entity_iin_options = response.data
            } catch (err) {
                console.log(err)
            };
            try {
                let response = await axios.get("{{url_for('get_user_list')}}?optional=true")
                console.log(response.data)
                this.user_id_options = response.data
            } catch (err) {
                console.log(err)
            }
        },
    })
</script>

{% endblock %}