{% extends 'index.html' %}

{% block form_content %}

<form method="POST" action='{{ request.path }}' novalidate >
    
    <div class="card">
    <div class="card-header">
      Список сотрудников
    </div>
    <div class="card-body">
      <a class="btn btn-primary" href="{{ url_for('post_new_employee') }}" role="button">Создать новый элемент</a>
      <div class="pt-2 col">
        <table class="table table-hover">
          <thead class="table-dark">
            <tr>
              <th scope="col">ИД</th>
              <th scope="col">Email</th>
              <th scope="col">Наименование</th>
              <th scope="col">Организация</th>
              <th scope="col">Дата рождение</th>
              <th scope="col">Пользователь</th>
            </tr>
          </thead>
          <tbody>
            {% for employee in employeeList %}
              <tr>
                <th scope="row">{{ employee.id }}</th>
                <td>{{ employee.email }}</td>
                <td><a href="{{request.path}}{{employee.id}}" class="link-dark">{{ employee.name }} </a></td>
                <td>{{ employee.entity.name }}</td>
                <td>{{ employee.date_of_birth }}</td>
                <td>{{ employee.user_name }} ({{employee.user_email}})</td>
              </tr>  
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>  
  </div>
</form>

{% endblock %}