{% extends 'index.html' %}
{% block form_content %}

<form method="POST" action='{{ request.path }}' novalidate>
  <div id="vue">
    <div class="row">
      <div class="card mt-2">
        <div class="card ">
          <div class="card-header">
            Список пользователей
            <template v-if="page_count > 1">
              <div class="card-tools">
                <ul class="pagination pagination-sm float-right">
                  <template v-if="page > 3">
                    <li class="page-item"><button type="button" class="page-link"
                        v-on:click="getUserList(1)">1</button></li>
                  </template>

                  <template v-if="page-3 > 1">
                    <li class="page-item"><button type="button" class="page-link "
                        v-on:click="getUserList(page-3)"><i class="fas fa-angle-double-left"></i></button></li>
                  </template>

                  <template v-if="page > 1">
                    <li class="page-item"><button type="button" class="page-link"
                        v-on:click="getUserList(page-1)">[[page-1]]</button></li>
                  </template>

                  <li class="page-item active"><button type="button" class="page-link">[[page]]</button></li>

                  <template v-if="page < page_count">
                    <li class="page-item"><button type="button" class="page-link"
                        v-on:click="getUserList(page+1)">[[page+1]]</button></li>
                  </template>

                  <template v-if="page+3 < page_count">
                    <li class="page-item"><button type="button" class="page-link"
                        v-on:click="getUserList(page+3)"><i class="fas fa-angle-double-right"></i></button></li>
                  </template>

                  <template v-if="page < page_count-2">
                    <li class="page-item"><button type="button" class="page-link"
                        v-on:click="getUserList(page_count)">[[page_count]]</button></li>
                  </template>

                </ul>
              </div>
            </template>
          </div>
          <div class="card-body table-responsive p-0">
            <a class="btn btn-primary ml-2 mt-2 " href="{{ request.path }}new" role="button">Создать новый элемент</a>
            <div class="pt-2 col">
              <table class="table table-bordered table-hover">
                <thead class="table-dark">
                  <tr>
                    <th scope="col" width="5%">ИД</th>
                    <th scope="col" width="20%">Email</th>
                    <th scope="col" width="20%">Наименование</th>
                    <th scope="col" width="5%">Это компания</th>
                    <th scope="col" width="5%">Активный</th>
                    <th scope="col" width="15%">Организация</th>
                    <th scope="col" width="15%">Сотрудник</th>
                    <th scope="col" width="15%">Операции</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="user in listUser" :key="user.id">
                    <th scope="row">[[ user.id ]]</th>
                    <td>[[ user.email ]]</td>
                    <td>[[ user.name ]]</a></td>
                    <td>
                      <div v-if="user.is_company === true">
                        <i class="fas fa-check"></i>
                      </div>
                      <div v-else>
                        
                      </div>
                    </td>
                    <td>
                      <div v-if="user.is_active === true">
                        <i class="fas fa-check"></i>
                      </div>
                      <div v-else>
                        
                      </div>
                    </td>
                    <td>[[ user.entity_name ]]</td>
                    <td>[[ user.employee_name ]]</td>
                    <td>
                      <button v-on:click="openUser(user)" class="btn btn-success btn-sm rounded-3" type="button"
                        data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit">
                        <i class="fas fa-edit"></i>
                      </button>
                      <button v-on:click="setCurrentItem(user)" class="btn btn-danger btn-sm rounded-3"
                        type="button" data-toggle="modal" data-target="#deleteElementModal">
                        <i class="fas fa-trash"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <!-- Удаление записи -->
          <!-- Modal -->
          <div class="modal fade" id="deleteElementModal" tabindex="-1" role="dialog"
            aria-labelledby="deleteElementModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="deleteElementModalLabel">Подтвердите действие</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  Вы действительно хотите удалить запись?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                  <button type="button" class="btn btn-primary btn-danger" data-dismiss="modal"
                    v-on:click="deleteUser()">
                    Удалить
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<script>
  new Vue({
    el: '#vue',
    delimiters: ['[[', ']]'],
    data: {
      //listUser: {{ listOfValue|safe }},
      listUser: [],
      currentItemIndex: 0,
      page: 1,
      page_count: 1,
    },
    async mounted() {
      is_authorized()
      await this.getUserList(this.page)
    },
    methods: {
      getUserList: async function (page) {
        console.log("{{url_for('get_user_list')}}?nested=true&limit=100&page=" + page);
        try {
          let response = await axios.get("{{url_for('get_user_list')}}?nested=true&limit=100&page=" + page, get_config())
          console.log(response.data['result'])
          this.listUser = response.data['result']
          this.page_count = response.data['info']['pages']
          if (page > 0) {
            this.page = page
          }
        }
        catch (err) {
          console.log(err); 
          check_status(err)
        }

      },
      openUser: function (item) {
        window.location.href = "{{ request.path }}" + item.id
      },
      deleteUser: async function () {
        try {
          let id = this.listUser[this.currentItemIndex].id
          let response = await axios.delete("{{url_for('get_user_list')}}" + id, get_config());
          if (response != null && (response.status == 200 || response.status == 201)) {
            this.listUser.splice(this.currentItemIndex, 1);
          }
        } catch (err) {
          console.log(err); 
          check_status(err)
        }
      },
      setCurrentItem: function (item) {
        this.currentItemIndex = this.listUser.indexOf(item)
      },
    }
  })
</script>

{% endblock %}